
body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}


#interactive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Fill the width of the viewport */
    height: 100%; /* Fill the height of the viewport */
}


#main-asset {
    max-width: 100%; /* Limit image width to prevent overflow */
    max-height: 80vh; /* Limit image height with some space */
    object-fit: contain; /* Maintain aspect ratio */
}

#corner-icon {
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
}

#back-icon {
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
}

#wip-sign {
    margin-left: 25%;
    width: 50%; /* Set the image width to be 20% smaller than the screen */
    max-height: auto; /* Make the image responsive */
}



@media (max-width: 600px) { /* Adjust the max-width as needed for targeting mobile devices */

   

        body, html {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #interactive {
            width: 100vw; /* Full width of the viewport */
            height: 100vh; /* Full height of the viewport, adjust if necessary */
        }

        #main-asset {
            max-width: 90%; /* Give some margin around the image */
            max-height: 80vh; /* Adjust the height to maintain aspect ratio */
            object-fit: contain; /* Ensure the image scales properly */
        }

        #corner-icon {
            display: none;
            top: 0;
            left: 0;
            margin-top: 20px;
            margin-left: 20px;
        }

        #back-icon {
            position: fixed;
            top: 20px;
            left: 20px;
        }

        #wip-sign {
            margin-left: 25%;
            width: 50%; /* Set the image width to be 20% smaller than the screen */
            max-height: auto; /* Make the image responsive */
        }
    }

    audio {
    display: none;
}



#introductory-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 0.5s ease 2s forwards; /* 2s duration, 3s delay */
}

#main-content {
    opacity: 1;
}

#black-background {
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    background-color: #000; /* Black color */
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


#mobile-menu {
    display: none; /* Ensure this is toggled via JS */
    position: fixed;
    top: 10%;
    left: 5%;
    right: 5%; /* Ensure the menu does not extend beyond the viewport */
    bottom: 10%; /* Ensure the menu does not extend beyond the viewport */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center children vertically */
    align-items: center; /* Align items in the center, horizontally */
    z-index: 1000;
    padding: 10px;
    box-sizing: border-box;
}

    #mobile-menu button {
        width: 100%; /* Ensure buttons take full width of their container */
        height: 30%;
        margin: 3.33% 0; /* Space between buttons */
        padding: 12px 0; /* Padding inside buttons */
        font-size: 16px;
        color: white;
        background-color: black;
        box-shadow: 0 0 0 2px white;
        border: none;
        border-radius: 5px;
        text-align: center;
    }

.button {
    display: inline-block;
    padding: 50px; /* Add padding as needed */
    background-size: contain; /* Ensure the entire image fits within the button */
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 16px;
    text-decoration: none;
    /* Add more styles as needed */
}

/* Individual button styles */
#button1 {
    background-image: url('images/assets/main/grit button.png');
    
}

#button2 {
    background-image: url('images/assets/main/music button.png');
    
}

#button3 {
    background-image: url('images/assets/main/clothing button.png');
    
}


@media screen and (min-width: 769px) {
    #mobile-menu {
        display: none !important; /* Force hide on larger screens */
    }
}